  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Connexion</div>

      <div class="card-body">

        <form (ngSubmit)="onLogin()" novalidate>
          <div class="form-group">
            <label for="email">Adresse mail</label>
            <input class="form-control" id="email" type="email" placeholder="E-mail" [(ngModel)]="user.email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Entrez le mot de passe</label>
            <input class="form-control" id="password" type="password" placeholder="mot de passe" [(ngModel)]="user.password" name="password" required>
          </div>
          <button type="submit" class="btn btn-default">Connexion</button>
          <!-- <a class="btn btn-primary btn-block" routerLink="/client">Connexion client </a>
          <a class="btn btn-primary btn-block" routerLink="/admin">Connexion admin</a> -->
        </form>

        <div class="text-center mt-3">
          <a class="d-block small" href="forgot-password.html">Mot de passe oublié?</a>
        </div>

      </div>

    </div>
  </div>
 <router-outlet></router-outlet>
